{
  "DISCORD_BOT_KEY": "",
  "OPENAI_API_KEY": "",
  "OPENAI_MODEL": "gpt-4.1-mini",
  "GOOGLE_API_KEY": "",
  "CUSTOM_SEARCH_ENGINE_ID": "",
  "HISTORY_NUM": 5,
  "DISCORD_OWNER_ID": "",
  "MAX_HISTORY_COUNT": 10
  "MAX_RESPONSE_TOKENS": 2000
}